@model List<DataAccessLayer.Category>
<style>
    body {
        background-color: lightgray;
    }

    .navbar-nav.flex-grow-1 {
        display: none;
    }

    #right-nav {
        display: block;
    }

    #cust-dash {
        display: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #343a40;
        color: white;
    }

    td {
        background-color: #8faebd;
    }
</style>


<h2>List of Categories</h2>

<table>
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
    </tr>

    @foreach(var category in Model)
            {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.CategoryName</td>
                    <td>
                        <!-- View button -->
                        <a href="@Url.Action("ViewCategory", "Admin", new { id = category.CategoryId })" class="action-button view-button">View</a>
                        <!-- Edit button -->
                        <a href="@Url.Action("AddCategory", "Admin", new { id = category.CategoryId })" class="action-button edit-button">Add</a>

                        <!-- Edit button -->
                        <a href="@Url.Action("EditCategory", "Admin", new { id = category.CategoryId })" class="action-button edit-button">Edit</a>

                        <!-- Delete button -->
                        <a href="@Url.Action("DeleteCategory", "Admin", new { id = category.CategoryId })" class="action-button delete-button">Delete</a>
                    </td>
                </tr>
            }

 
</table>
