@{
    ViewBag.Title = "GetAllCustomers";
}

﻿@model List<DataAccessLayer.Customer>

<style>
    body {
        background-color: lightgray;
    }

    .navbar-nav.flex-grow-1 {
        display: none;
    }

    #right-nav {
        display: block;
    }

    #cust-dash {
        display: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #343a40;
        color: white;
    }

    td {
        background-color: #8faebd;
    }
</style>

<h2>All Customers</h2>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>PhoneNumber</th>
        <th>UserName</th>
        <th>Password</th>
        <th>RoleId</th>

    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Id</td>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
            <td>@customer.Email</td>
            <td>@customer.PhoneNumber</td>
            <td>@customer.UserName</td>
            <td>@customer.Password</td>
            <td>@customer.RoleId</td>

            <td>
                <!-- View button -->
                <a href="@Url.Action("ViewCustomer", "Admin", new { id = customer.Id })" class="action-button view-button">View</a>

                <!-- Edit button -->
                <a href="@Url.Action("EditCustomer", "Admin", new { id = customer.Id })" class="action-button edit-button">Edit</a>

                <!-- Delete button -->
                <a href="@Url.Action("DeleteCustomer", "Admin", new { id = customer.Id })" class="action-button delete-button">Delete</a>
            </td>
        </tr>
    }
</table>

