
@{
    ViewBag.Title = "AppliedPolicies";
}

﻿@model List<DataAccessLayer.AppliedPolicy>
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: #f0f4f7;
            color: #333;
            font-family: 'arial', sans-serif;
            margin: 0;
        }

        .navbar-nav.flex-grow-1 {
            display: none;
        }

        #right-nav {
            display: block;
        }

        #cust-dash {
            display: none;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #e0f7fa;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        th, td {
            border: 1px solid #b3e0f2;
            padding: 12px 15px;
            text-align: left;
        }

        th {
            background-color: #5f5d9c;
            color: #fff;
        }

        td {
            background-color: #b5c0d0;
        }

        tr:nth-child(even) {
            background-color: #bbdefb;
        }
    </style>
</head>
<body>
    <h2>List of Applied Policies</h2>

    <table>
        <tr>
            <th>Applied Policy ID</th>
            <th>Policy Number</th>
            <th>Applied Date</th>
            <th>Policy Type</th>
            <th>Policy Category</th>
            <th>Price</th>
            <th>Customer ID</th>
            <th>Status</th>
        </tr>
        @foreach (var appliedPolicy in Model)
        {
            if (appliedPolicy.CustomerId == Convert.ToInt32(Session["CustomerUserId"]))
            {
                <tr>
                    <td>@appliedPolicy.AppliedPolicyId</td>
                    <td>@appliedPolicy.PolicyNumber</td>
                    <td>@appliedPolicy.AppliedDate.ToShortDateString()</td>
                    <td>@appliedPolicy.Category</td>
                    <td>@appliedPolicy.policycategory</td>
                    <td>@appliedPolicy.Price</td>
                    <td>@appliedPolicy.CustomerId</td>
                    <td>@appliedPolicy.StatusCode</td>
                    @if (appliedPolicy.StatusCode == DataAccessLayer.PolicyStatus.Pending)
                    {
                        <td>
                            <form method="post" action="CancelPolicy">
                                <input type="hidden" name="appliedPolicyId" value="@appliedPolicy.AppliedPolicyId" />
                                <input type="submit" value="Cancel" class="btn btn-outline-danger" />
                            </form>
                        </td>
                    }
                    else if (appliedPolicy.StatusCode == DataAccessLayer.PolicyStatus.Approved)
                    {
                        <td>
                            <form method="post" action="Pay">
                                <input type="hidden" name="appliedPolicyId" value="@appliedPolicy.AppliedPolicyId" />
                                <input type="submit" value="Pay" class="btn btn-outline-success" />
                            </form>
                        </td>
                    }
                    else if (appliedPolicy.StatusCode == DataAccessLayer.PolicyStatus.Disapproved)
                    {
                        <td>
                            <form method="post" action="CancelPolicy">
                                <input type="hidden" name="appliedPolicyId" value="@appliedPolicy.AppliedPolicyId" />
                                <input type="submit" value="Cancel" class="btn btn-outline-danger" />
                            </form>
                        </td>
                    }
                </tr>
            }
        }
    </table>
</body>
</html>
